*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header"
                         "sidebar main";
    grid-template-rows: min-content 1fr;   
    grid-template-columns: min(20%, 200px) auto;
}

header {
    padding: .8rem 2rem;
    background-color: #0284c7;
    color: white;
    grid-area: header;
}

header > .logo {
    font-size: 1.6rem;
    font-weight: 600;
}

section.navbar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #374151;
    color: #e0f2fe;
}

section.navbar > ul {
    list-style: none;
    padding: 2rem 0;
}

section.navbar li {
    padding: .5rem 1.5rem;
}

section.navbar a {
    color: #e0f2fe;
    text-decoration: none;
    transition: color 300ms;
}

section.navbar a:hover {
    color: #38bdf8;
}

section.navbar li.active {
    background-color: rgba(0, 0, 0, .4);
}

main {
    grid-area: main;
}

toast-el {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
    border: 2px solid black;
    padding: .75rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    color: white;
    /* transform: translateY(8rem); */
    opacity: 0;
    transition: opacity 900ms;
}

toast-el.success {
    background-color: #15803d;
    border-color: #14532d;
}

toast-el.danger {
    background-color: #b91c1c;
    border-color: #7f1d1d;
}

toast-el.warning {
    background-color: #b45309;
    border-color: #78350f;
}

toast-el button {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
}

toast-el.show {
    opacity: 1;
}

main .toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 .2rem;
    background-color: #4b5563;
}

main .toolbar button {
    border: 0px;
    padding: 1rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .toolbar button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}