body {
    max-height: 100vh;
}

main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    overflow-y: auto;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;

    border-radius: .25rem;
    border: 1px solid #6b7280;
    text-align: center;
    box-shadow: 0px 0px 0px 0px #1e1e1e;
    transition: box-shadow 300ms;
}

.card > .card-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: .25rem .25rem 0 0;
}

.card > .card-body {
    padding: .25rem;
}

.card > .card-body > .title {
    font-size: 1rem;
    font-weight: 700;
    color: #065f46;
    border: 4px dashed transparent;
    border-radius: .5rem;
    text-decoration: none;
    transition: all 300ms;
}

.card > .card-body > .title:hover {
    border-color: #065f46;
}

.card > .card-body > .subtitle {
    color: #374151;
}

.card:hover {
    box-shadow: 0px 0px 16px 2px #1e1e1e;
}