<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Manager</title>

    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="common.css")}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="index.css")}}" />
</head>
<body>
    <header>
        <div class="logo">Podcast Manager</div>
    </header>

    <main id="main">
        <!-- <div class="card">
            <img class="card-image" src="https://image.simplecastcdn.com/images/983974c4-c78d-4045-9a46-bf93e1d35955/f812820b-10b4-4a5d-b807-e6f3d76551a1/3000x3000/rustgamedev.jpg" alt="Podcast Name" />
            <div class="card-body">
                <div class="title">
                    Podcast Name
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia rerum placeat dicta velit. Esse similique temporibus nam debitis quidem?
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-image" src="https://image.simplecastcdn.com/images/983974c4-c78d-4045-9a46-bf93e1d35955/f812820b-10b4-4a5d-b807-e6f3d76551a1/3000x3000/rustgamedev.jpg" alt="Podcast Name" />
            <div class="card-body">
                <div class="title">
                    Podcast Name
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia rerum placeat dicta velit. Esse similique temporibus nam debitis quidem?
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-image" src="https://image.simplecastcdn.com/images/983974c4-c78d-4045-9a46-bf93e1d35955/f812820b-10b4-4a5d-b807-e6f3d76551a1/3000x3000/rustgamedev.jpg" alt="Podcast Name" />
            <div class="card-body">
                <div class="title">
                    Podcast Name
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia rerum placeat dicta velit. Esse similique temporibus nam debitis quidem?
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-image" src="https://image.simplecastcdn.com/images/983974c4-c78d-4045-9a46-bf93e1d35955/f812820b-10b4-4a5d-b807-e6f3d76551a1/3000x3000/rustgamedev.jpg" alt="Podcast Name" />
            <div class="card-body">
                <div class="title">
                    Podcast Name
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia rerum placeat dicta velit. Esse similique temporibus nam debitis quidem?
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-image" src="https://image.simplecastcdn.com/images/983974c4-c78d-4045-9a46-bf93e1d35955/f812820b-10b4-4a5d-b807-e6f3d76551a1/3000x3000/rustgamedev.jpg" alt="Podcast Name" />
            <div class="card-body">
                <div class="title">
                    Podcast Name
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel officia rerum placeat dicta velit. Esse similique temporibus nam debitis quidem?
                </div>
            </div>
        </div> -->
    </main>

    <script src="{{url_for("static", filename="index.js")}}"></script>
</body>
</html>