<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed | Podcast Manager</title>

    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="common.css")}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="viewfeed.css")}}" />

    <script src="{{url_for("static", filename="common.js")}}"></script>
</head>
<body>
    <header is="head-el"></header>
    <section is="nav-bar" class="navbar"></section>

    <main>
        <div class="toolbar">
            <button id="refreshBtn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M5.46257 4.43262C7.21556 2.91688 9.5007 2 12 2C17.5228 2 22 6.47715 22 12C22 14.1361 21.3302 16.1158 20.1892 17.7406L17 12H20C20 7.58172 16.4183 4 12 4C9.84982 4 7.89777 4.84827 6.46023 6.22842L5.46257 4.43262ZM18.5374 19.5674C16.7844 21.0831 14.4993 22 12 22C6.47715 22 2 17.5228 2 12C2 9.86386 2.66979 7.88416 3.8108 6.25944L7 12H4C4 16.4183 7.58172 20 12 20C14.1502 20 16.1022 19.1517 17.5398 17.7716L18.5374 19.5674Z"></path></svg>
                Refresh
            </button>
            <button id="openDirBtn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M3 21C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H10.4142L12.4142 5H20C20.5523 5 21 5.44772 21 6V9H4V18.996L6 11H22.5L20.1894 20.2425C20.0781 20.6877 19.6781 21 19.2192 21H3Z"></path></svg>
                Download
            </button>
            <button id="downloadBtn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13 10H18L12 16L6 10H11V3H13V10ZM4 19H20V12H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V12H4V19Z"></path></svg>
                Download
            </button>
            <button id="deleteBtn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 4V6H15V4H9Z"></path></svg>
                Delete
            </button>
        </div>
        <div class="info-banner">
            <!-- <div class="art">
                <img class="podcast-artwork" src="" alt="" />
            </div>
            <div class="info-text">
                <div class="title"></div>
                <div class="author"></div>
                <div class="description"></div>
            </div> -->
        </div>
        <table class="episode-list">
            <thead>
                <tr class="ep-head">
                    <th class="cell">#</th>
                    <th class="cell">Title</th>
                    <th class="cell">Air Date</th>
                    <th class="cell">Status</th>
                    <th class="cell">Options</th>
                </tr>
            </thead>
            <tbody class="episodes">
                <!-- <tr class="episode">
                    <td>Sr No</td>
                    <td>Title</td>
                    <td>Date Published</td>
                    <td>Not Downloaded</td>
                    <td></td>
                </tr> -->
            </tbody>
        </table>
    </main>

    <script>
        window.feedId = "{{feed_id}}";
    </script>
    <script src="{{url_for("static", filename="viewfeed.js")}}"></script>
</body>
</html>