<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed | Podcast Manager</title>

    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="common.css")}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="viewfeed.css")}}" />
</head>
<body>
    <header>
        <div class="logo">Podcast Manager</div>
    </header>

    <section class="navbar">
        <ul>
            <li>
                <a href="/add/new">Add Podcast</a>
            </li>
            <li>
                <a href="/">View Podcasts</a>
            </li>
        </ul>
    </section>

    <main>
        <div class="info-banner">
            <!-- <div class="art">
                <img class="podcast-artwork" src="" alt="" />
            </div>
            <div class="info-text">
                <div class="title"></div>
                <div class="author"></div>
                <div class="description"></div>
            </div> -->
        </div>
        <table class="episode-list">
            <thead>
                <tr class="ep-head">
                    <th class="cell">#</th>
                    <th class="cell">Title</th>
                    <th class="cell">Air Date</th>
                    <th class="cell">Status</th>
                    <th class="cell">Options</th>
                </tr>
            </thead>
            <tbody class="episodes">
                <!-- <tr class="episode">
                    <td>1</td>
                    <td>Interview with Carter Anderson (Bevy)</td>
                    <td>June 05, 2022</td>
                    <td>Not Downloaded</td>
                    <td></td>
                </tr> -->
            </tbody>
        </table>
    </main>

    <script>
        window.feedId = "{{feed_id}}";
    </script>
    <script src="{{url_for("static", filename="viewfeed.js")}}"></script>
</body>
</html>